% configure testing
{cover_enabled, true}.
{eunit_opts, [verbose]}.

% configure compliation
{erl_opts, [
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    %  warn_missing_spec,
    warn_untyped_record,
    %  warnings_as_errors,
    debug_info
]}.

{deps, [
        {rebar_idl_compiler, ".*", {git, "git://github.com/secYOUre/rebar_idl_compiler.git", {branch, "master"}}}
]}.

{plugins, [rebar_idl_compiler]}.

{idl_opts, [ {gen_hrl, true}, 
             {be, erl_genserv},
             {{impl, 'CICM::Iterator'}, 'ocicm_iterator_impl'} 
           ]}.

